@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: inherit;
}

p,
span,
h1,
h2,
h3,
h4,
ul,
li,
label,
input,
button {
  font-family: "Roboto Condensed", sans-serif;
}

input,
button {
  background-color: inherit;
  border: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-size: 20px;

  &_uppercase {
    text-transform: uppercase;
  }

  &_bold {
    font-weight: 700;
  }
}