.favorite-card {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin: 15px;
  padding: 15px;

  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    height: 50px;
    width: 110px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
  }
}